<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Learning Vue Like a Boss!</title>

  <!-- css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.css">

  <!-- js -->
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <!-- our template -->
  <section id="app" class="section container">
    <!-- text interpolation -->
    {{ avatar }}

    <!-- binding to attributes -->
    <img height="300" width="300" v-bind:src="avatar">
    <img height="300" width="300" :src="avatar">

    <div class="notification is-success" v-if="isSuccess">
      we did it! successful!
    </div>

    <div class="notification is-danger" v-if="!isSuccess">
      we did not do it. not successful
    </div>
  </section>

  <!-- our javascript -->
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        avatar: 'https://pbs.twimg.com/profile_images/850147482117865472/O28qQSrN_400x400.jpg',
        isSuccess: true
      }
    });
  </script>
</body>
</html>